
*.class
mango-core/target/mango-core-1.0.0.jar
mango-core/target/mango-core-1.0.0.jar
mango-core/target/mango-core-1.0.0.jar
mango-core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
mango-common/.idea/workspace.xml
mango-core/target/mango-core-1.0.0.jar
